/*global stylesheet=========================================*/

body
{background-color: white;
font-family:sans-serif;
color:#7f969e;
font-size: 16px;
font-weight: 400;}

/*header==================================================*/

header
{background-color: #2A2A2A;
position: relative;
display:flex;
align-items: center;
padding:0 160px;
grid-gap: 40px;
height:88px;
justify-content: space-between;}

nav
{display: flex;
justify-content: flex-end;
float: right;}

nav a
{font-family:sans-serif;
font:roboto;
font-size: 12px;
text-transform: uppercase;
font-weight:bold;
text-decoration:none;
color:#d4d4d4;
border-radius:4px;
padding:7px 15px 6px;
}

nav a:hover
{color: white;}

nav a:first-of-type
{background-color: #107698;
border-radius: 2px;
padding: 7px 15px 6px;}

nav a:last-of-type
{color:#FFA500; }

/*pagename====================================*/

#pagename
  {height: 50px;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
padding:70px 0px;
background-position: center;
background-repeat: no-repeat;
text-decoration:none;
text-align: center;
color: #fff;
font-size: 50px;
font weight:50;
text-shadow: 1px 2px 2px #000;}

/* first section ==================================*/
section.whiteBG
{max-width: 1150px;
display:block;
vertical-align: baseline;
align-items: center;}

section.whiteBG h2
{font-size: 34px;
color: #0a465b;
text-align: center;
margin-bottom: 30px;
  padding-top: 10px;
font-weight:50;}

section.whiteBG h2
{display: block;
  text-align: center;}

section.WhiteBG h2 span
{colour:orange;}
